header {
  z-index: 1;
  position: fixed;
  top: 0;
}

body {
  padding-top: 100px;
}

/* om mig */
.cv {
  margin: 50px;
}

/* alle img i mobilform */
.min_loesning img {
  width: 550px;
  display: block;
  margin: auto;
}

/* Grund indhold */

/* grund web */
.grundweb_grid img {
  padding: 10px;
}

/* stor skærm */
@media (min-width: 800px) {
  /* alt */
  .introtekst p {
    max-width: 700px;
  }

  /* om mig */
  .cv {
    display: flex;
    padding-left: 55px;
  }

  .om_mig_tekst {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
  }

  .ommig1 {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .ommig2 {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .ommig3 {
    grid-column: 2/3;
    grid-row: 3/4;
  }

  /* Grund Web */

  .grundweb_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .grundweb_grid .p1 {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .grundweb_grid .p2 {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .grundweb_grid img {
    grid-column: 2/3;
  }

  /* UX UI */

  .uxui1,
  .uxui2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .uxui1 .p1 {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .uxui1 .p2 {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .uxui1 .uxui_img1 {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .uxui1 .uxui_img2 {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .uxui2 .p1 {
    grid-column: 2/3;
  }

  .uxui2 .p2 {
    grid-column: 2/3;
  }

  .uxui2 .uxui_img1 {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  /* Animation */

  .animation_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .animation_grid .anitekst {
    grid-column: 1/2;
  }

  .animation_grid img {
    grid-column: 2/3;
  }
}
